<!DOCTYPE html>
<html>
<head>
    <title>Pilih Metode Verifikasi</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="login-box">
    <h2>Pilih Metode Verifikasi</h2>

    <a href="/qr-login" class="btn-login">QR Code</a>
    <a href="/magiclink" class="btn-login">Magic Link</a><br>
    <a href="/otp" class="btn-login">OTP Email</a><br>
    <a href="/behavioral" class="btn-login">Behavioral Authentication</a>
    <a href="/face" class="btn-login">Face Recognition</a>


</div>

</body>
</html>
